
<div class="container">
    <div class="row " *ngIf="mediaDetails">
            <div class="col-md-5 ">
              <div class="img-container">
                 <img [src]="imageprefix+mediaDetails.poster_path" alt="">
              </div>
          </div>   
   
          <div class="col-md-7 d-flex justify-content-center align-items-center ">
            <div class="  d-flex justify-content-center align-items-center">
              <table class=" "  >
                  <tr>
                      <th>Name</th>
                      <td>{{ mediaDetails.name || mediaDetails.title }}</td>
                     
                  </tr>
      
                  <tr>
                      <th>Overview</th>
                      <td> >{{ mediaDetails.overview }}</td>
                  </tr>
    
              
              </table>
      
            </div>
             
            </div>





          <div *ngIf="!mediaDetails">
            <p>Loading media details...</p>
          </div>

  
        <!-- Display other details based on your use case -->
      </div>

      <div class="row" *ngIf="showRow">
        <div class="col-md-12   ">
           <h3>Watch Trailer</h3>
        </div>
        </div>
      <div class="row video mb-5" *ngIf="showRow">
        <div class="col-md-12 d-flex justify-content-center  ">
            <iframe  [src]="videoURL(videoSrc)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>


</div>

  



  

