.video
{
    height: 50vh;
}

.video .col-md-12 iframe
{
    width: 80%;
    
}

.row .col-md-12 h3
{
    margin-bottom: 20px;   
}
@media (max-width: 767px) 
{
    .video .col-md-12 iframe
{

    width: 100%;
    
}
.row .col-md-12 h3
{
    margin-top: 20px;
    margin-bottom: 20px;

    
}
}